body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	/*outline: solid 3px green;*/
}


.main-navigation-logo {
	display: block;
	width: 144px;
	height: 73px;
	/*нужно ли у него убирать высоту?*/
	list-style: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.site-navigation {
	list-style: none;
	display: flex;
	padding: 0px;
	margin: 0px;
	/*outline: solid 10px pink;*/
	width: 1054px;
	margin-left: 73px;
	margin-right: 73px; 
	flex-wrap: wrap;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #e4e4e4;
}


.site-navigation li {
	display: flex;
	margin: 0px;
	list-style: none;
	/*outline: solid 3px red;*/
	width: 240px;
	align-items: center;
}

.site-navigation-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-navigation-item:nth-of-type(2) {
	text-align: left;
	margin-right: 94px;
}

.site-navigation li:nth-child(+n+3) {
	justify-content: flex-end;
}


.reasons-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}


.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/*outline: solid 3px brown;*/
}

.background-image {
	width: 100%;
	height: 510px;
	background-image:url("../img/polygon-crop.jpg");
	background-position: top center;
	/*outline: 3px solid red;*/
	background-color: #eeeeee;
}


.container h1 {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden
}

.reasons-text {
	text-align: center;
	display: block;
	margin: 0px;
	padding-bottom: 50px;
}

.center-text {
	display: block;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*outline: 3px solid green;*/

}

.center-text h1 {
	display: block;
	padding-top: 58px;
	padding-bottom: 27px;
	margin: 0px;
	padding-left: 376px;
	padding-right: 376px;
}


.reason-item-blue {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
	display: flex;
	list-style: none;
	margin: 0px;
}

.reason-item-blue.second {
	display: flex;
	flex-direction: row-reverse;
}


.reason-item-blue-text h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}


.reason-item-blue-text {
	display: flex;
	max-width: 400px;
	flex-direction: column;
	order: -1;
}

.reason-item-blue-img {
	display: flex;
	width: 800px
	flex-wrap: nowrap;
}


.reason-item-grey h3,
.reason-item-blue-text h3 {
	display: block;
	margin-top: 47px;
	margin-bottom: 30px;
	padding-left: 125px;
	padding-right: 125px;
}

.reason-item-grey span,
.reason-item-blue-text span {
	display: block;
}

.reason-item-blue-text h3:nth-child(2) {
	padding-right: 137px;
	padding-left: 137px;
}

/*не получается применить другие паддинги к конкретному типу reason-item-blue-text h3, ко второму в данном случае*/






.reason-item-white {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 400px; 
	flex-direction: column;
}


.reason-item-white h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	display: block;
	margin-top: 157px;
	margin-bottom: 26px;
}

.reason-item-grey {
	background-color: #f2f2f2;
	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
}

.reason-item-grey h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}


.reason-item-grey p,
.reason-item-blue-text p {
	display: block;
	margin-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
}


.reason-item-white::after {
	content:"";
	position:absolute;
	display:block;
	width:75px;
	height:76px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:contain;
	background-repeat: no-repeat;
	/*left: 207px;
	bottom:-224px;

	чтобы все расстаить - нужно применить очень странное позиционирование, как будто расче идет не от верхнего левого угла элемента*/
}

.reason-item-white.house::after {
	background-image:url("../img/icon-1.svg");
	left: 207px;
	bottom: -224px;	
	
}

.reason-item-white.food::after {
	background-image:url("../img/icon-3.svg");

}

.reason-item-white.souvenirs::after {
	background-image:url("../img/icon-2.svg");
}


.reason-item-white h3 {
	
}

.reason-item-white p {
	display: block;
	margin: 0px;
	/*margin-bottom: 87px;*/
	padding-left: 71px;
	padding-right: 71px;
}

.reason-item-white p:nth-child(2) {
	padding-left: 55px;
	padding-right: 55px;
}

.reason-item-white p:nth-of-type(3) {
	padding-left: 65px;
	padding-right: 65px;
}

/*не получилось применить к конкретно этому абзацу правильные падинги, чтобы текст перенесся там где надо*/

.reason-item-grey {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 400px; 
	flex-direction: column;
	outline: solid 3px blue; 
}



.interest {
	background-color: #ffffff;
	display: block;
	width: 1200px;
	outline: solid 3px red;
	padding: 0px;
	margin: 0px;
	/*padding-bottom: 55px;*/
}

.interest h2 {
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	display: block;
	margin: auto;
	padding-top: 76px;
	padding-bottom: 23px;
}

.interest-text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding-right: 382px;
	padding-left: 382px;
	margin: 0px;
	padding-bottom: 50px;

}

.button-search {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #766357;
	display: block;
	height: 87px;
	width: 100%;
	text-align: center;
}

.button-search:hover {
	background-color: #604e43;
}

.button-search:focus {
	background-color: #503e33;
	color: #928a85;
}

.form {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	display: flex;
	width: 570px;
	height: 480px;
	flex-direction: column;
	margin-left: 314px;
	outline: solid 3px green;
	flex-wrap: wrap;
}

.form-fields {
	display: flex;
	height: 393px;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	outline: solid 2px pink;
}

.form-field {
	width: 460px;
	outline: solid 3px red;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.date-arrival,
.amount-adults,
.amount-children,
.date-depature {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	background-color: #f2f2f2;
	border: none;
}

.date-arrival:hover,
.amount-adults:hover,
.amount-children:hover,
.date-depature:hover {
	background-color: #ebebeb;
}

.date-arrival:focus,
.amount-adults:focus,
.amount-children:focus,
.date-depature:focus {
	background-color: #ffffff;
	border-color: #ebebeb;
	border: 2px #ebebeb;
}

.calendar-button {
  	position: absolute;
  	top: 8px;
  	right: 9px;
  	width: 21px;
  	height: 22px;
  	border: 1px solid transparent;
  	background: transparent;
}

.calendar-button svg {
	position: absolute;
  	top: 2120px;
  	right: 415px;
  	display: block;
}

/*размещение свг календаря отсчитывается от верхнего правого угла тоже*/

.calendar-button path {
  fill: #cacaca;
}

.calendar-button:hover path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.calendar-button:active {
  outline: none;
}

input {
	box-sizing: border-box;
	width: 346px;
	padding-top: 7px;
  	padding-left: 20px;
  	padding-bottom: 7px;
  	outline: solid 3px yellow;	

}

label {
	margin-right: 21px;
	background-color: #ffffff;
	margin-top: 7px;
}


.form-field-ammount {
	display: flex;
	outline: solid 3px green;
	flex-wrap: wrap;
	background-color: #ffffff;
}

/*в label дети окрашивается часть пространства в серый цвет
поменять марджини на паддиинги, добавить кнопки, 
для общего блока формы паддинги*/



.form-field.amount-children,
.form-field.amount-adults {
	width: 230px;
	outline: solid 1px red;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.amount-children input,
.amount-adults input {
	display: block;
	width: 117px;
	outline: solid 2px grey;
}

.amount-adults label {
	padding-right: 42px;
}

.amount-children label {
	padding-right: 25px;
	margin: 0px;
	margin-top: 7px;
}





/*не получилось поменять цвет рамки при focus */

.button-submit {
	background-color: #81b3d2;
	color: #ffffff;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	border: 0;
	display: block;
	width: 100%;
	margin-top: 55px;
	height: 58px;
	text-transform: uppercase;
}

.button-submit:hover {
	background-color: #669ec0;
}

.button-submit:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

/*убрать глобальный тег, сделать для конкретного, заменить на селектор+тег*/


.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0px;
	display: flex;
	width: 100%;
	outline: solid 3px green;
	height: 120px;
}

.footer-text {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	width: 400px;
	outline: solid 3px yellow;
}

.footer-social {
	text-align: center;
	list-style: none;
	width: 400px;
	margin-top: 50px;
	outline: solid 3px pink;
}

.footer-social ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-button {
	color: #81b3d2;
}

.footer-copyright {
	text-align: center;
	width: 400px;
	margin-top: 50px;
	outline: solid 3px blue;
}

.footer-copyright .button:hover {
	color: #81b3d2;
}
.footer-copyright .button:focus {
	color: #bdbbbc;
}

/*иконки = белые вставлются на изменяющийся фон. для третьего состояния меняетсчя прорзачность иконки. вставить как фон для блока*/
/*заменить br кроме -  https://up.htmlacademy.ru/htmlcss/22/examples_br# на фиксировнную ширину блока width с неразрывн пробелом или на паддинги */


/*начало catalog*/


.sorting-list {
	list-style: none;
	font-size: 12px;
	line-height: 18px;
	color: #f0f0f0;
	display: flex;
	padding: 0px;
	margin: 0px;
}

.sorting-top {
	background-color: #ffffff;
	height: 100px;
	outline: solid 3px red;
}

.amount-result {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
}

.sorting-list {
	
}

.sorting-list:hover {
	color:#81b3d2;
}

.sorting-list:focus {
	color: #ffffff;
}

.sorting-list:active {
	color:#81b3d2;
}


.sorting-list li {
	border-bottom: 2px dotted #81b3d2;	
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/*не увеерена, как правильно сделать, чтобы подчеркивание было только под словом, не на все свободное пространство*/

.hotels {
	background-color: #ffffff;
}


.hotels-list {
	
}

.hotels-list {
	font-size: 14px
	line-height: 21px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.hotels-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotels-list h3:hover {
	color: #81b3d2;
}

.hotels-list h3:focus {
	color: #cacaca;
}

.hotels-list-item {
	display: flex;
	width: 1056px;
	height: 152px;
	outline: solid 3px green;
	padding: 0px;
	margin-left: 73px;
	justify-content: space-between;
}

.hotels-list-item-parametr {
	list-style: none;
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
}
}

.hotels-list-item-parametr b{
	font-weight: normal;
}

.hotels-list-item-rating {
	background-color: #f2f2f2;
	display: flex;
	outline: solid 3px brown;
	width: 112px;
	height: 152px;
	margin: 0px;
	padding: 0px;
}


.hotels-list-image {
	display: flex;
	outline: solid 3px yellow;
	width: 140px;
	height: 152px;
	margin: 0px;
	padding: 0px;
}

.hotels-list-item-data {
	display: flex;
	outline: solid 3px pink;
	flex-grow: 1;
	height: 152px;

}


.button-more-info {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.button-more-info:hover {
	background-color: #669ec0;
}

.button-more-info:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.button-booking {
	background-color: #766357;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.button-booking:hover {
	background-color: #604e43;
}

.button-booking:focus {
	background-color: #503e33;
	color: #928a85;
}

/*конец каталог */



/*сеточные стили*/



