body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #e4e4e4;
}

.reasons-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.container h1 {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden
}

.reasons-text {
	text-align: center;
}

.center-text {
	
}


.reason-item-blue {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
}


.reason-item-blue-text h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reason-item-white {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
}


.reason-item-white h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reason-item-grey {
	background-color: #f2f2f2;
	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	text-align: center;
}

.reason-item-grey h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.interest {
	background-color: #ffffff;
}
.interest h2 {
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
}

.interest-text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #766357;
}

.button-search:hover {
	background-color: #604e43;
}

.button-search:focus {
	background-color: #503e33;
	color: #928a85;
}

.form {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.date-arrival,
.amount-adults,
.amount-children,
.date-depature {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	background-color: #f2f2f2;
	border: none;
}

.date-arrival:hover,
.amount-adults:hover,
.amount-children:hover,
.date-depature:hover {
	background-color: #ebebeb;
}

.date-arrival:focus,
.amount-adults:focus,
.amount-children:focus,
.date-depature:focus {
	background-color: #ffffff;
	border-color: #ebebeb;
	border: 2px #ebebeb;
}


/*не получилось поменять цвет рамки при focus */

button {
	background-color: #81b3d2;
	color: #ffffff;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	border: 0;
}

button:hover {
	background-color: #669ec0;
}

button:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-text {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-button {
	color: #81b3d2;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright .button:hover {
	color: #81b3d2;
}
.footer-copyright .button:focus {
	color: #bdbbbc;
}


/*начало catalog*/


.sorting-list {
	list-style: none;
}

.sorting-top {
	background-color: #ffffff;
}

.amount-result {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
}

.sorting-list {
	font-size: 12px;
	line-height: 18px;
	color: #f0f0f0;
}

.sorting-list:hover {
	color:#81b3d2;
}

.sorting-list:focus {
	color: #ffffff;
}

.sorting-list:active {
	color:#81b3d2;
}


.sorting-list li {
	border-bottom: 2px dotted #81b3d2;	
}

/*не увеерена, как правильно сделать, чтобы подчеркивание было только под словом, не на все свободное пространство*/

.hotels {
	background-color: #ffffff;
}


.hotels-list {
	list-style: none;
}

.hotels-list {
	font-size: 14px
	line-height: 21px;
}

.hotels-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotels-list h3:hover {
	color: #81b3d2;
}

.hotels-list h3:focus {
	color: #cacaca;
}

.hotels-list-item-parametr {
	list-style: none;
}

.hotels-list-item-parametr b{
	font-weight: normal;
}

.hotels-list-item-rating {
	background-color: #f2f2f2;
}

.button-more-info {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.button-more-info:hover {
	background-color: #669ec0;
}

.button-more-info:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.button-booking {
	background-color: #766357;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.button-booking:hover {
	background-color: #604e43;
}

.button-booking:focus {
	background-color: #503e33;
	color: #928a85;
}

/*конец каталог */

/*фотография+маска - как фон, текст как контентное изображение. перевырезать с белой маской.
*/


/*сеточные стили*/
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	outline: solid 3px brown;
}

.main-navigation {
	margin: 0px;
	padding: 0px;
	display: flex;
	height: 73px;
	outline: solid 3px green;
	
}

.site-navigation {
	display: flex;
	padding: 0px;
	margin: 0px;
	outline: solid 10px pink;
	width: 1054px;
	margin-left: 73px;
	margin-right: 73px; 
}

.site-navigation li {
	display: flex;
	margin: 0px;
	list-style: none;
	outline: solid 3px red;
	width: 240px;
	align-items: center;
}


.site-navigation-item:nth-of-type(2) {
	text-align: left;
	margin-right: 96px;
}

.site-navigation-item:nth-of-type(3),
.site-navigation-item:nth-of-type(4) {
	text-align: right;
}

/*.site-navigation-2 {
	
	text-align: left;
}*/

/*.site-navigation-4, 
.site-navigation-3 {
	text-align: right;
}
*/

.main-navigation-logo {
	display: block;
	width: 144px;
	height: 73px;
	list-style: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.background-image {
	width: 100%;
}


.center-text {
	display: block;
	background-color: #ffffff;
	height: 210px;
	margin: 0px;
	padding: 0px;
}

.center-text h1 {
	display: block;

	padding-top: 65px;
	padding-bottom: 40px;
	margin: 0px;
}

.reasons-text {
	display: block;
	margin: 0px;
	margin-bottom: 50px;
	/*почему марджн заезжает на следующий блок?*/
}


.reasons-list {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.reason-item-blue {
	display: flex;
	height: 260px;
	list-style: none;
	margin: 0px;
}

.reason-item-blue.second {
	display: flex;
	flex-direction: row-reverse;
}


.reason-item-blue-text {
	display: flex;
	width: 400px;
	height: 260px;
	flex-direction: column;
	order: -1;
}

.reason-item-grey h3,
.reason-item-blue-text h3 {
	display: block;
	margin-top: 40px;
	margin-bottom: 30px;
}

.reason-item-grey span,
.reason-item-blue-text span {
	display: block;
}

.reason-item-grey p,
.reason-item-blue-text p {
	display: block;
	margin-top: 30px;
}


.reason-item-blue-img {
	display: flex;
	width: 800px
	height: 260px;
	flex-wrap: nowrap;
}

.reason-item-white {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 400px; 
	height: 330px;
	flex-direction: column;
}

.reason-item-white-img {
	display: block;
	width: 80px;
	height: 70px;
	/*нужно ли задавать размеры свг?*/
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 62px;
}

.reason-item-white h3 {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.reason-item-white p {
	display: block;
	margin: auto;
	margin-bottom: 87px;
}

.reason-item-grey {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 400px; 
	height: 255px;
	flex-direction: column;
	outline: solid 3px blue; 
}

.interest {
	display: block;
	width: 1200px;
	height: 290px;
	outline: solid 3px red;
	padding: 0px;
	margin: 0px;
}

.interest h2 {
	display: block;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 37px;
}

/*.interest-text {
	нужно ли этот кусочек оборачивать в отдельный блок и задавать для него падинги?
}*/


/*как правильно подвинуть форму? она лежит поверх карты и белого фона? должна быть размещена относительно текста interest? */

.form {
	display: flex;
	width: 570px;
	height: 480px;
	flex-direction: column;
	margin-left: 314px;
	outline: solid 3px green;
	flex-wrap: wrap;
}

.button-search {
	display: block;
	height: 87px;
	width: 100%;
}


.form-fields {
	display: flex;
	height: 393px;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	outline: solid 2px pink;
	/*margin-top: 55px;*/
	/*когда пытаюсь оттолкнуть весь блок от верхнего элемента - все едет */
}

.form-field {
	width: 460px;
	outline: solid 3px red;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 30px;

}

input {
	box-sizing: border-box;
	width: 346px;
	padding-top: 7px;
  	padding-left: 20px;
  	padding-bottom: 7px;
  	outline: solid 3px yellow;	

}

label {
	margin-right: 21px;
	background-color: #ffffff;
	margin-top: 7px;
}


.form-field-ammount {
	display: flex;
	outline: solid 3px green;
	flex-wrap: wrap;
	background-color: #ffffff;
}

/*в label дети окрашивается часть пространства в серый цвет*/


.form-field.amount-children,
.form-field.amount-adults {
	width: 230px;
	outline: solid 1px red;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}

.amount-children input,
.amount-adults input {
	display: block;
	width: 117px;
	outline: solid 2px grey;
}

.amount-adults label {
	padding-right: 42px;
}

.amount-children label {
	padding-right: 25px;
	margin: 0px;
	margin-top: 7px;
}

.form .button {
	display: block;
	width: 100%;
	margin-top: 55px;
	height: 58px;
	/*сломался текст*/
}









.main-footer {
	padding: 0px;
	display: flex;
	width: 100%;
	outline: solid 3px green;
	height: 120px;
} 

.footer-text {

	margin-top: 50px;
	width: 400px;
	outline: solid 3px yellow;
}

.footer-social {
	list-style: none;
	width: 400px;
	margin-top: 50px;
	outline: solid 3px pink;
}

.footer-copyright {
	width: 400px;
	margin-top: 50px;
	outline: solid 3px blue;
}


/*иконки = белые вставлются на изменяющийся фон. для третьего состояния меняетсчя прорзачность иконки. вставить как фон для блока*/

/*сетка каталога*/


.sorting-top {
	height: 100px;
	outline: solid 3px red;
}

.sorting-list {
	display: flex;
	padding: 0px;
	margin: 0px;
}

.sorting-list li {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.hotels-list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.hotels-list-item {
	display: flex;
	width: 1056px;
	height: 152px;
	outline: solid 3px green;
	padding: 0px;
	margin-left: 73px;
	justify-content: space-between;
}

.hotels-list-image {
	display: flex;
	outline: solid 3px yellow;
	width: 140px;
	height: 152px;
	margin: 0px;
	padding: 0px;
}

.hotels-list-item-data {
	display: flex;
	outline: solid 3px pink;
	flex-grow: 1;
	height: 152px;

}

.hotels-list-item-rating {
	display: flex;
	outline: solid 3px brown;
	width: 112px;
	height: 152px;
	margin: 0px;
	padding: 0px;
}

.hotels-list-item-parametr {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
}





